[submodule "networks/mobilenetv3"]
	path = networks/mobilenetv3
	url = https://github.com/d-li14/mobilenetv3.pytorch.git
[submodule "networks/pydnet"]
	path = networks/pydnet
	url = https://github.com/zshn25/Pydnet-Pytorch.git
