[submodule "networks/pydnet"]
	path = networks/pydnet
	url = https://github.com/zshn25/Pydnet-Pytorch.git
[submodule "networks/fastdepth"]
	path = networks/fastdepth
	url = https://github.com/zshn25/fast-depth.git
[submodule "networks/rexnet"]
	path = networks/rexnet
	url = https://github.com/zshn25/rexnet.git
	branch = master
